<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Codes and Tags</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/countries/create-country">Create Country</a></li>
                <li><a href="/countries/list">List Countries</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <h1>{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal" method="post" action="/countries/update">
                <input type="hidden" name="countryId" value="{{country._id}}">
                <div class="form-group">
                    <label for="country" class="col-sm-4 control-label">Country</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="country" name="country" placeholder="Colombia"
                               value="{{country.country}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="capital" class="col-sm-4 control-label">Capital</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="capital" name="capital" placeholder="Bogota"
                               value="{{country.capital}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="urlCountryFlag" class="col-sm-4 control-label">URL Country Flag</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="urlCountryFlag" name="urlCountryFlag"
                               placeholder="url country flag" value="{{country.image.full}}">
                        {{#if country.image.full}}
                            <img src="{{country.image.full}}" alt="Flag">
                        {{else}}
                            <img src="http://vignette3.wikia.nocookie.net/conworld/images/c/c8/NoFlag.png" alt="No flag" width="150px">
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="region" class="col-sm-4 control-label">Region</label>
                    <div class="col-sm-6">

                        <select class="form-control" id="region" name="region">
                            {{#select country.region}}
                                <option value="Sur America">Sur America</option>
                                <option value="Norte America">Norte America</option>
                                <option value="Europa">Europa</option>
                                <option value="Asia">Asia</option>
                                <option value="Oceania">Oceania</option>
                            {{/select}}
                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">Update Country</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>