<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Codes and Tags</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/countries/create-country">Create Country</a></li>
                <li class="active"><a href="/countries/list">List Countries</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <h1>{{title}}</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Capital</th>
                    <th>Region</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each countries}}
                    <tr>
                        <td>{{country}}</td>
                        <td>{{capital}}</td>
                        <td>{{region}}</td>
                        <td>
                            {{#if image.full}}
                                <img src="{{image.full}}" alt="Country Flag" width="150px">
                            {{else}}
                                <img src="http://vignette3.wikia.nocookie.net/conworld/images/c/c8/NoFlag.png" alt="No flag" width="150px">
                            {{/if}}
                        </td>
                        <td>
                            <a href="/countries/edit/{{_id}}" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </a>
                            <a href="/countries/remove/{{_id}}" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>